.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  text-align: center;
}

section:nth-child(odd) {
  background-color: #eff;
}

section.ConnectionSection {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  max-width: 960px;
}

table.Messages {
  border-spacing: 0;
}

table.Messages tr {
  border-bottom: 1px solid black;
}

table.Messages tr:last-of-type {
  border-bottom: none;
}

table.Messages td {
  border: none;
  padding: 4px;
}

table.Messages td.Timestamp {
  color: #444;
}

table.Messages td.Author {
  font-weight: bold;
}